.Join {
  display: flex;
  padding: 0 0rem;
  gap: 10rem;
  margin-top: 5rem;
}
.left-j {
  padding: 0 2rem;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.left-j > hr {
  position: absolute;
  width: 10.5rem;
  border: 2px solid #60a8dc;
  border-radius: 20%;
  margin: -7px 0;
  opacity: 1;
}
.left-j > div {
  display: flex;
  gap: 1rem;
}

.container {
  margin-top: 3rem;
}
.contact-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}
.contact-wrap {
  background-color: #60a8dc;
  border-radius: 10px;
}
.contact-wrap h3 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}
h3 {
  color: #fff;
}
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.form-control {
  height: 60px;
  margin-top: 10px;
  background: whtie;
  box-shadow: none !important;
  border-radius: 30px;
  margin-bottom: 19px;
}
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.5) !important;
}
.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5) !important;
}
.form-control:-ms-input-placeholder {
  /* IE 0+ */
  color: rgba(255, 255, 255, 0.5) !important;
}
.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5) !important;
}
.form-control:focus,
.form-control:active {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.5) !important;
}
textarea.form-control {
  height: inherit !important;
  margin-top: 10px;
}

.contactForm .form-control {
  padding: 0;
  border-radius: 10px;
}
.contact-btn {
  background-color: white;
  padding: 0.5rem;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  border: 4px solid transparent;
  transition: 300ms all;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 20px;
  width: 100%;
}

.contact-btn:hover {
  transform: scale(1.1);
  background-color: #68b0e4;
  color: white;
}

.info-wrap {
  background-color: var(--caloryCard);
  border-radius: 10px;
}
.info-wrap h3 {
  color: #60a8dc;
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
}
.info-wrap h3:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 152px;
  height: 3px;
  background: #ffffff;
  content: "";
}
.info-wrap .dbox {
  width: 100%;
  margin-bottom: 25px;
}
.info-wrap .dbox:last-child() {
  margin-bottom: 0;
}
.info-wrap .dbox p {
  margin-bottom: 0;
  color: white;
}
.info-wrap .dbox p span {
  font-weight: 400;
  color: #000;
}
.info-wrap .dbox p a {
  color: rgba(255, 255, 255);
}
.info-wrap .dbox .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255);
  margin-right: 10px;
}
.info-wrap .dbox .icon span {
  font-size: 20px;
  color: #ffffff;
}
.info-wrap .dbox .text {
  width: calc(100% - 50px);
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #a20606;
}
a {
  transition: 0.3s all ease;
  color: #d62196;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none;
}
#contactForm {
  border-radius: 10px;
}
#contactForm .form-control {
  font-size: 16px;
}
