.header1 {
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

.logo {
  width: 13rem;
  height: 10rem;
}

.header-menu {
  padding-top: 3.5rem;
  font-size: large;
  list-style: none;
  display: flex;
  gap: 2rem;
  color: white;
}

.header-menu > li {
  cursor: pointer;
}

.header-menu > li:hover {
  color: var(--orange);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header1 > :nth-child(2) {
    position: fixed;
    right: 2rem;
    z-index: 99;
  }
  .header-menu {
    flex-direction: column;
    background-color: var(--orange);
    padding: 2rem;
  }
}
